*{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #080808;
    color: #fff;
}

#header {
    width: 100%;
    height: 50px;
    /*background-image: url(mypic.png);*/
    background-size: cover;
    background-position: center;
}

/*.menu-icon {
    font-size: 25px;
    cursor: pointer;
}

.cross-icon {
    font-size: 25px;
    cursor: pointer;
}*/

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
}

nav ul li{
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
margin-top: 20%;
font-size: 30px;;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: #ff004f;
}

#about{
    padding: 80px 0;
    color: #ababab; 
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    padding-top: 35px;
    width: 75%;
    border-radius: 10%;
}

.about-col-2{
    flex-basis: 60%;
}

.about-col-2 p{
    font-size: 20px;
    text-align: justify;
}

.sub-title {
    padding-bottom: 35px; 
    font-size: 60px;
    color: #fff;
    font-weight: 600;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-titles p{
    font-size: 25px;
}

.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #ff004f;
    font-size: 20px;
}

.tab-contents{
    display: none;
}

.tab-contents ul li{
    font-size: 18px;
}



.tab-contents.active-tab{
    display: block;
}

.tab-contents.active-tab ul li{
    font-size: 18px;
}

/*--------------services-----------------*/
#services{
    padding: 30px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 16px;
    font-weight: 300;
    border-radius: 10px;
    text-align: justify;
    transition: background 0.5s, transform 0.5s;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div:hover{
    background-color: #e9014a;
    transform: translateY(-10px);
}

/*--------------portfolio------------*/
#portfolio{
    padding: 40px 0;
}

.work-list{
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));*/
    grid-template-columns: 500px 500px;
    grid-gap: 300px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}



.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

/*.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;

}*/

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
    cursor: pointer;
}

.work:hover .layer a{
    text-decoration: none;
    color: #fff;
}

.download-btn{
    font-size: 20px;
    display: block;
    /*width: fit-content;*/
    border: 2px solid #ff004f;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 7px;
    transition: background 0.5s;
}

.contact-info .email-to {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}


.contact-info p{
    font-size: 20px;
}

.download-btn:hover{
    background-color: #ff004f;
}

nav .menu-icon{
    display: none;
}

nav .cross-icon{
    display: none;
}

/*-------------------CSS for small screen---------------------*/
@media only screen and (max-width: 600px){
    /*#header{
        /*background-image: url(phone background image);

    }*/
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1{
        font-size: 30px;
    }

    nav .menu-icon{
        display: block;
        font-size: 25px;
        cursor: pointer;
    }
    
    nav .cross-icon{
        display: block;
        font-size: 25px;
        cursor: pointer;
    }

    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.3s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .cross-icon{
        position: absolute;
        top: 25px;
        left: 25px;
    }

    .sub-title{
        font-size: 40px;
    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }

    .about-col-1{
        margin-bottom: 30px;
    }

    .about-col-2{
        font-size: 14px;
    }

    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-info .sub-title{
        font-size: 35px;
    }


}